.body{
    background-color: #CBD0D3;
    background-image: url(http://www.uppenjamo.edu.mx/img/background.gif);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    color: #34495e;
    font-family: 'Roboto';
    font-weight: 300;
    margin: 0;
    font-size: 1em;
    line-height: 1.231;
    overflow-x: hidden;
    width: 100%;
}
.header{
    background: #008CA9;
}
.h-color{
    color: white;
}
.title-tm{
    font-size: 4em;
    font-family: 'Roboto';
}
.text{
    text-align: justify;
    font-size: 1.5em;
}
.modal-custom{
    background: #008CA9;
    color: white;
}
#footerTop {
    border-bottom: 1px solid #e1e2e3;
    color: #34495e;
    height: 30px;
    line-height: 30px;
    background: #FFF;
    text-align: center;
    font-size: 1.5em;
}
#footerBottom {
    color: #34495e;
    height: 30px;
    line-height: 30px;
    background: #F6F7F8;
    text-align: center;
    font-size: 1.5em;
}
/*
<span class="glyphicon glyphicon-education"> APLICAR</span>*/
			