.body{
    background-color: #CBD0D3;
    background-image: url('http://www.uppenjamo.edu.mx/img/background.gif');
    width: 100%;
}
.header{
    background: #008CA9;
}
.h-color{
    color: white;
}
.title-tm{
    font-size: 3em;
    font-family: 'Roboto';
    margin-top: 1%;
}